.start{
    padding: 50px 0;
    &__container{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    &__title{
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.369231px;
        color: #36536B;
    }
    &__form{
        @extend .hero__form;
    }
    &__input{
        @extend .hero__input;
    }
    &__btn{
        @extend .hero__btn;
    }
}
@media only screen and (max-width:800px) {
    .start{
        &__container{
            flex-direction: column;
            align-items: center;
        }
        &__title{
            font-size: 38px;
        }
    }
}